<!DOCTYPE html>
<html>
    <head>
        <title>Maintance Page</title>
    </head>
    <body>
        <h1>We will be back Soon...</h1>
        <p>This site is under constructing...</p>
    </body>
    <footer>
        <p>Created by pirates @Copyright 2018</p>
    </footer>
</html>